- model_class = GetawaySearch
.page-header
  %h1= t '.title', :default => GetawaySearch
= render partial: "list", locals: { getaway_searches: @getaway_searches }
= link_to t('.new', :default => t("helpers.links.new")), |
  new_getaway_search_path,                               |
  :class => 'btn btn-primary'                            |