-# TODO: JQuery table sorter
%table.table.table-striped.table-hover.form-model
  %tbody
    - local_assigns[:trip_options].each do |trip_option|
      - outbound_legs = trip_option.outbound_legs
      - inbound_legs = trip_option.inbound_legs
      %tr
        %td= render partial: "trip_options/summary_info_cell.html.haml", locals: { trip_option: trip_option }

        %td
          - outbound_times = "Depart " + outbound_legs.first.local_departure_time.strftime('%l:%M %P') + ", Arrive " + outbound_legs.last.local_arrival_time.strftime('%l:%M %P')
          = ("<b>" + trip_option.outbound_itinerary.join(" ✈ ") + "</b>" + " [" + outbound_times + "]").html_safe
          %br
          - inbound_times = "Depart " + inbound_legs.first.local_departure_time.strftime('%l:%M %P') + ", Arrive " + inbound_legs.last.local_arrival_time.strftime('%l:%M %P')
          = ("<b>" + trip_option.inbound_itinerary.join(" ✈ ") + "</b>" + " [" + inbound_times + "]").html_safe

